.item{
  padding: 33px 88px 30px;
  background: $white;
  border-radius: 20px;
  margin-bottom: 40px;
  &.item-transparent{
    background: transparent;
  }
  &-title{
    color: $primary;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
  }
  &-subtitle{
    color: $primary;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;

  }
  &-text{
    color: #171233;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    h2{
      color: $primary;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 25px;
    }
    h3{
      color: $primary;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 25px;
    }
    h4{
      color: $primary;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p{
      margin-bottom: 16px;
    }
  }
  &-accordion{
    border-bottom: 2px solid #B3A6FF;
    &__title{
      color: $primary;
      cursor: pointer;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 14px 50px 14px 18px;
      position: relative;
      &:before, &:after{
        position: absolute;
        content: '';
        top: 26px;
        right: 22px;
        width: 25px;
        height: 3px;
        background: $black;
        transition: all ease 300ms;
      }
      &:before{
        transform: rotate(90deg);
      }
      &.active{
        &:after{
          transform: rotate(-90deg);
          opacity: 0;
          background: $primary;
        }
        &:before{
          background: $primary;
          transform: rotate(0deg);
        }
      }
    }
    &__text{
      display: none;
      padding: 6px 89px 40px;
      color: $primary;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &.item-accordion__items{
        padding: 6px 18px 40px;
      }
      p{
        color: $primary;
        text-overflow: ellipsis;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        &:last-of-type{
          margin-bottom: 0;
        }
        b{
          font-weight: 500;
        }
        a{
          font-weight: 600;
          color: $secondary;
        }
      }
      ul{
        li{
          span{
            display: inline-block;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            min-width: 220px;
          }
        }
      }
    }
  }
  &-sort{
    margin: 0 0 38px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__title{
      color: $primary;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__list{
      display: flex;
      align-items: center;
      li{
        margin-right: 15px;
        &:last-of-type{
          margin-right: 0;
        }
      }
      a{
        color: $secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        padding: 4px 11px 5px 11px;
        border-radius: 20px;
        transition: all ease 300ms;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          top: 8px;
          right: 11px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'%3E%3Cpath d='M4.5 1C4.5 0.723858 4.27614 0.5 4 0.5C3.72386 0.5 3.5 0.723858 3.5 1L4.5 1ZM3.64645 9.35355C3.84171 9.54882 4.15829 9.54882 4.35355 9.35355L7.53553 6.17157C7.7308 5.97631 7.7308 5.65973 7.53553 5.46447C7.34027 5.2692 7.02369 5.2692 6.82843 5.46447L4 8.29289L1.17157 5.46447C0.976311 5.2692 0.659728 5.2692 0.464466 5.46447C0.269204 5.65973 0.269204 5.97631 0.464466 6.17157L3.64645 9.35355ZM3.5 1L3.5 9L4.5 9L4.5 1L3.5 1Z' fill='black'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          width: 8px;
          height: 10px;
          opacity: 0;
          transition: all ease 300ms;
        }
        &:hover, &.active{
          padding: 4px 25px 5px 11px;
          background: #E7E6F3;
          &:after{
            opacity: 1;
          }
        }
      }
    }
    &__abc{
      width: 100%;
      margin-top: 14px;
      display: flex;
      flex-wrap: wrap;
      a{
        color: $primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 25px;
        text-align: center;
        border-radius: 3px;
        &.active{
          background: #E7E6F3;
          width: 30px;
        }
      }
    }
  }
  &-info{
    width: calc(33.333% - 28px);
    margin: 0 14px 40px;
    &.item-info__full{
      width: calc(100% - 28px);
      margin: 0 14px 25px;
      display: flex;
      .item-info__desc{
        width: calc(100% - 246px);
        padding: 0 20px;
      }
      .item-info__media{
        width: 246px;
        a{
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &__wrap{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -14px;
      padding: 0 50px;
    }
    &__media{
      margin-bottom: 11px;
      a{
        overflow: hidden;
        img{
          width: 156px;
          height: 210px;
          transition: all ease 300ms;
          transform: scale(1);
        }
        &:hover{
          img{
            transform: scale(1.1);
          }
        }
      }
    }
    &__title{
      color: $primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
      a, h2{
        color: $primary;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      a{
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &__desc{}
    &__type{
      color: $primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
      a{
        color: $primary;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &__link{}
  }
  &-link{
    padding: 0 14px;
    li{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;
    }
    a{
      color: $primary;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      text-decoration-line: underline;
      &:hover{
        color: $secondary;
        .btn-secondary{
          color: $white;
          background: $secondary;

        }
      }
      .btn-secondary{
        text-decoration: none;
        display: inline-block;
        min-width: auto;
      }
    }
    .btn-secondary{
      margin-left: 15px;
      color: $secondary;
      text-decoration: none;
      &:hover{
        color: $white;
      }
    }
  }
  &-line{
    position: relative;
    padding: 45px 0 45px 84px;
    &__item{
      margin-top: -42px;
      position: relative;
      &:before{
        display: block;
        position: sticky;
        content: '';
        left: 0;
        margin-left: -73px;
        top: 80px;
        width: 22px;
        height: 22px;
        background: #0FD15D;
        border-radius: 50%;
        transition: all ease 300ms;
      }
      &.active{
        &:before{
          margin-left: -83px;
          width: 42px;
          height: 42px;
        }
      }
    }
    .item-accordion{
      &:last-of-type{
        margin-bottom: 80px;
      }
    }
  }
  &-accordion{
    &__author{
      display: flex;
      flex-wrap: wrap;
      &-media{
        width: 154px;
        img, picture{
          width: 100%;
          border-radius: 20px;
        }
      }
      &-desc{
        width: calc(100% - 154px);
        padding: 0 0 0 20px;
        color: $primary;
        text-overflow: ellipsis;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        p{
          color: $primary;
          text-overflow: ellipsis;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 10px;
        }
      }
    }
    &__gallery{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .gallery-item{
        img{
          width: 100%;
        }
        width: calc(33.3333% - 20px);
        margin: 0 10px 20px;
      }
    }
  }
  &-video{
    border-bottom: 0;
    background: $white;
    border-radius: 20px;
    margin-bottom: 10px;
    .item-accordion__title{
      position: relative;
      display: flex;
      align-items: center;
      .play-icon{
        position: relative;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3389 3.66113C18.9779 1.30026 15.8389 0 12.5 0C9.16113 0 6.02211 1.30026 3.66113 3.66113C1.30026 6.02211 0 9.16113 0 12.5C0 15.8389 1.30026 18.9779 3.66113 21.3389C6.02211 23.6997 9.16113 25 12.5 25C15.8389 25 18.9779 23.6997 21.3389 21.3389C23.6997 18.9779 25 15.8389 25 12.5C25 9.16113 23.6997 6.02211 21.3389 3.66113ZM12.5 23.4536C6.46015 23.4536 1.54639 18.5398 1.54639 12.5C1.54639 6.46015 6.46015 1.54639 12.5 1.54639C18.5398 1.54639 23.4536 6.46015 23.4536 12.5C23.4536 18.5398 18.5398 23.4536 12.5 23.4536Z' fill='%23968EFF'/%3E%3Cpath d='M9.33301 17.3492L17.7287 12.5L9.33301 7.65076V17.3492Z' fill='%23968EFF'/%3E%3C/svg%3E%0A");
        background-size: cover;
        min-width: 25px;
        width: 25px;
        height: 25px;
        margin-left: 14px;
      }
    }
  }
}
.item-accordion__video{
  position: relative;
  margin: 34px 0 16px;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
    outline: none;
  }
  .play-video{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='82' height='82' viewBox='0 0 82 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='41' cy='41' r='41' fill='%23D9D9D9' fill-opacity='0.2'/%3E%3Ccircle cx='41' cy='41' r='39' stroke='white' stroke-opacity='0.2' stroke-width='4'/%3E%3Cpath d='M31.1694 24.1966C31.1679 23.4268 32.0003 22.9441 32.6677 23.3277L61.1997 39.7266C61.8671 40.1102 61.869 41.0724 61.2031 41.4586L32.7352 57.9686C32.0693 58.3548 31.235 57.8753 31.2335 57.1055L31.1694 24.1966Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    width: 82px;
    height: 82px;
    &:hover{
      opacity: .8;
    }
  }
}
.item-line__progress{
  background: rgba(193, 255, 218, 1);
  width: 2px;
  left: 21px;
  top: 45px;
  position: absolute;
  height: calc(100% - 130px);
  span{
    display: block;
    height: 150px;
    width: 1px;
    background: #00E75C;
    &.end{
      height: 100% !important;
    }
  }
  b{
    position: sticky;
    z-index: 101;
    display: block;
    top: 0px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: -11px;
    width: 22px;
    height: 22px;
    transition: all ease 300ms;
    background: #0fd15d;
    &.active{
      margin-top: 0;
      margin-left: -21px;
      width: 42px;
      height: 42px;
    }
  }
}

.top-item{
  display: flex;
  margin-bottom: 28px;
  &__media{
    width: 245px;
    img, picture{
      width: 100%;
      border-radius: 20px;
    }
  }
  &__desc{
    width: calc(100% - 245px);
    padding-left: 32px;
  }
  &__title{
    margin-bottom: 15px;
    color: $primary;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__subtitle{
    color: $primary;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px;
  }
  &__text{
    color: #171233;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
  }
}
.item-accordion__text{
  .top-item{
    margin-bottom: 0;
    &__text{
      margin-bottom: 0;
    }
    .btn-audio{
      margin: 15px 0 0 ;
      display: block;
    }
  }
  .btn-hide{
    display: block;
    margin: 15px 0 0 auto;
  }
}
.item-accordion__audio{
  audio{
    width: 100%;
  }
}
.btn-audio{
  color: $primary;
  font-family: $Montserrat;
  font-size: 14px;
  background: transparent;
  text-decoration: underline;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M21.3389 3.66113C18.9779 1.30026 15.8389 0 12.5 0C9.16113 0 6.02211 1.30026 3.66113 3.66113C1.30026 6.02211 0 9.16113 0 12.5C0 15.8389 1.30026 18.9779 3.66113 21.3389C6.02211 23.6997 9.16113 25 12.5 25C15.8389 25 18.9779 23.6997 21.3389 21.3389C23.6997 18.9779 25 15.8389 25 12.5C25 9.16113 23.6997 6.02211 21.3389 3.66113ZM12.5 23.4536C6.46015 23.4536 1.54639 18.5398 1.54639 12.5C1.54639 6.46015 6.46015 1.54639 12.5 1.54639C18.5398 1.54639 23.4536 6.46015 23.4536 12.5C23.4536 18.5398 18.5398 23.4536 12.5 23.4536Z' fill='%23968EFF'/%3E%3Crect x='7' y='10' width='2' height='7' rx='1' fill='%23968EFF'/%3E%3Crect x='10' y='6' width='2' height='11' rx='1' fill='%23968EFF'/%3E%3Crect x='13' y='8' width='2' height='11' rx='1' fill='%23968EFF'/%3E%3Crect x='16' y='8' width='2' height='7' rx='1' fill='%23968EFF'/%3E%3C/svg%3E");
    width: 25px;
    height: 25px;
    top: 0;
    right: -36px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover{
    text-decoration: none;
  }
}
.btn-hide{
  color: $primary;
  font-family: $Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 10px;
  text-decoration-line: underline;
  background: transparent;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 7 7' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.79497 0.205024C6.52161 -0.0683419 6.07839 -0.0683411 5.80502 0.205026L3.5 2.51005L1.19498 0.205026C0.921609 -0.0683411 0.478394 -0.0683419 0.205026 0.205024C-0.0683417 0.478389 -0.0683422 0.921603 0.205024 1.19497L2.51005 3.5L0.205024 5.80503C-0.0683422 6.0784 -0.0683417 6.52161 0.205026 6.79498C0.478394 7.06834 0.921609 7.06834 1.19498 6.79497L3.5 4.48995L5.80502 6.79497C6.07839 7.06834 6.52161 7.06834 6.79497 6.79498C7.06834 6.52161 7.06834 6.0784 6.79498 5.80503L4.48995 3.5L6.79498 1.19497C7.06834 0.921603 7.06834 0.478389 6.79497 0.205024Z' fill='%23171233'/%3E%3C/svg%3E");
    width: 7px;
    height: 7px;
    top: 7px;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover{
    text-decoration: none;
  }
}
.search-form__page{
  margin-bottom: 11px;
  form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  label{
    width: 100%;
    display: block;
    max-width: 355px;
    margin-right: 20px;
  }
  .select2{
    min-width: 300px;
    margin-right: 20px;
  }
  .select2-selection__rendered{
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 9px 25px 11px 13px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.247346 0.23559C0.578443 -0.079833 1.11526 -0.079833 1.44635 0.23559L6.49902 5.04908L11.5517 0.23559C11.8828 -0.079833 12.4196 -0.079833 12.7507 0.23559C13.0818 0.551014 13.0818 1.06242 12.7507 1.37784L7.09853 6.76246C6.76743 7.07788 6.23062 7.07788 5.89952 6.76246L0.247346 1.37784C-0.0837507 1.06242 -0.0837507 0.551014 0.247346 0.23559Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    transition: all ease 300ms;
    b{
      display: none;
    }
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow{
    transform: rotate(180deg);
    b{
      display: none;
    }
  }
  .select2-container--default .select2-selection--single{
    border: 0;
    border-radius: 0;
    background: transparent;
    height: auto;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: normal;
  }
  input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 9px 25px 11px 13px;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    transition: all ease 300ms;
    &:focus{
      border-color: rgba($primary, 0.50);
    }
  }
  .btn-primary{
    min-width: 156px;
  }
}
.select2-container{

}
.select2-dropdown .select2-search{
  display: none;
}
.select2-container .select2-dropdown{
  margin-top: 11px;
  border-radius: 8px;
  background: #FFF;
  border: 0;
  box-shadow: 0px 4px 17px 0px rgba(124, 151, 216, 0.70);
  min-width: 280px;
}
.select2-container .select2-container--default .select2-results__option{
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: $Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}
.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background: #D8FBFD;
  font-weight: 500;
  color: #000;
}
.search-total{
  color: $primary;
  font-family: $Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.search-item{
  border-bottom: 2px solid #B3A6FF;
  padding-bottom: 48px;
  margin-bottom: 21px;
  &__title{
    color: $primary;
    font-family: $Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
  }
  &__text{
    color: $primary;
    font-family: $Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 27px;
    strong, b{
      font-weight: 500;
    }
  }
}